.class_our_verticals_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    border-color: white;
    margin-top: 200px;
}

.class_our_verticals_icons_container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 100px;
    position: relative;
    transition: 2s;
}

.class_our_verticals_icons_container_effect {
    filter: blur(25px);
}

.class_our_verticals_box_container {
    display: flex;
    flex-direction: column;
}

.class_our_verticals_image {
    width: 250px;
    height: auto;
}

.class_our_verticals_title_and_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.class_our_verticals_icons_text_container {
    display: flex;
    flex-direction: column;
    font-family: "Monserrat", sans-serif;
    color: white;
    max-width: 250px;
    padding: 15px;
}

.class_our_verticals_icons_circle svg {
    width: 40px;
    height: 40px;
}

.class_our_verticals_icons_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-color: red;
    border-width: 1px;
    padding: 10px;
    margin-top: -5px;
}

.class_our_verticals_icons_circle svg path {
    fill: white;
}

.class_our_verticals_icons_text_title {
    font-weight: bolder;
}

.class_our_verticals_icons_text_subtitle {
    margin-top: 40px;
}

.class_our_verticals_icons_description_container {
    display: flex;
    justify-content: space-around;
    transition: 2s;
}